body {
  background-color: black;
}
h1 {
  color: yellow;
}
p {
  color: red;
  border: 2px solid gray;
  margin: 50px;
  padding: 30px;
}

ul.a {
	color: white;
  list-style-type: circle;
}

ul.b {
	color: white;
  list-style-type: square;
}

ol.c {
	color: white;
  list-style-type: upper-roman;
}

ol.d 
color:white;
  list-style-type: lower-alpha;
}